<form class="signup-form" method="post" action="/join">
  <h4 class="signup-form-header" style="border-bottom: 1px solid #eee;max-width: 300px;padding-bottom: 20px;margin-bottom: 20px;">
    Join the conversation.
  </h4>

  <section>
    <label for="initials" style="flex: 100%;text-align: center;margin-bottom: 5px;color: #6f6f6f;">Two-character initials:</label>
    <input placeholder="AA" class="mla" name="initials" type="text">
  </section>

  <section style="justify-content: center;border-bottom: 1px solid #eee;padding-bottom: 20px;">
    <label style="flex: 100%;text-align: center;margin-bottom: 10px;color: #6f6f6f;">
      Favorite color:
    </label>

    <section>
      <label class="black mla" style="margin-left: 0;">
        <input name="theme" value="black" type="radio">
        <span></span>
      </label>

      <label class="gray">
        <input name="theme" value="gray" type="radio">
        <span></span>
      </label>

      <label class="blue">
        <input name="theme" value="blue" type="radio" checked="">
        <span></span>
      </label>

      <label class="purple">
        <input name="theme" value="purple" type="radio">
        <span></span>
      </label>

      <label class="red">
        <input name="theme" value="red" type="radio">
        <span></span>
      </label>

      <label class="orange">
        <input name="theme" value="orange" type="radio">
        <span></span>
      </label>

      <label class="green">
        <input name="theme" value="green" type="radio">
        <span></span>
      </label>
    </section>
  </section>
  <button type="submit">Join</button>
</form>
