<form class="new-message-wrapper" method="post" action="/topic/new">
  <section>
    <label>Title</label>
    <input class="new-topic-title" type="text" name="title" required/>
  </section>

  <section class="new-message-header">
    <label>Message</label>
    <span class="mla text-small">Markdown supported</span>
  </section>
  <textarea name="content" class="message-editor" required></textarea>
  <section class="new-message-footer">
    <span class="user-logo <%= @user[:theme] %>">
      <%= @user[:initials] %>
    </span>
    <button type="submit" class="button theme-<%= @user[:theme] %>">Post</button>
  </section>
</form>
