<section class="header">
  <a class="logo" href="/">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-feather"><path d="M20.24 12.24a6 6 0 0 0-8.49-8.49L5 10.5V19h8.5z"></path><line x1="16" y1="8" x2="2" y2="22"></line><line x1="17" y1="15" x2="9" y2="15"></line></svg>Tinyboard
  </a>
</section>

<form class="new-message-wrapper" method="post" action="/topics/new">
  <section>
    <label>Title</label>
    <input class="new-topic-title" type="text" name="title" required/>
  </section>

  <section class="new-message-header">
    <label>Message</label>
    <span class="mla text-small">Markdown supported</span>
  </section>
  <textarea name="content" class="message-editor" required></textarea>
  <section class="new-message-footer">
    <span class="user-logo <%= @user[:theme] %>">
      <%= @user[:initials] %>
    </span>
    <button type="submit" class="button theme-<%= @user[:theme] %>">Post</button>
  </section>
</form>
